streamlit==1.35.0
numpy==1.26.4
pandas==2.2.2
Pillow==10.4.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0

transformers==4.44.2
diffusers==0.30.3
accelerate==0.34.2
safetensors==0.4.5
